.form {display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
padding: 20px;}

.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery li {
  width: calc((100% - 48px) / 5);
}

.gallery img {
  width: 450px;
  display: block;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
   display: none;
    }
    .loader.is-visible {
  display: block;
  
}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }
   